<div class="wrapper h-100 text-light">
  <h1 class="text-center p-0">Appointments Calendar</h1>
  <div data-action="click->dashboard#showAppointments" class="mx-2">
    <%= month_calendar do |date| %>
      <div data-date=<%= date %>>
        <%= date.day %>
      </div>
    <% end %>
  </div>
  <div data-dashboard-target="list">
  </div>
</div>
